@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.flex{
    display: flex;
}

.width-80-auto{
    width: 80%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.white{
    color: #fff;
}

.margin-right{
    margin-right: 10px;
}

.margin-left{
    margin-left: 10px;
}

.font-size{
    font-size: 13px;
}
a{
    text-decoration: none;
}