/* HEADER */
header{
    background-color: #ff6900;
}

nav{
    justify-content: space-between;
    padding: 15px 0;
}

.nav-left{
    list-style: none;
}

header nav a img{
    width: 15%;
    margin: 0 auto;
}

/* MAIN */
.container-main{
    flex-wrap: wrap;
    margin-top: 30px;
}

.container-shop{
    width: 32.6%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-shop img{
    width: 100%;
    
}

.photo-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

main section .container-shop:hover .photo-hover{
    display: inline;
}

.heart{
    right: 0;
    top: 10px;
    padding: 0 10px;
    font-size: 30px;
    background-color: #fff;
    z-index: 4;
}

main section .container-shop:hover .heart{
    color: #ff0000;
}

.etichette{
    bottom: 110px;
    z-index: 3;
}

.etichetta-1{
    background-color: #ff0000;
    padding: 3px 10px;
}

.etichetta-2{
    background-color: #008000;
    padding: 3px 10px;
}

.price-1{
    color: #ff0000;
}

.price-2{
    text-decoration: line-through;
}

/* FOOTER */
footer{
    background-color: #1a1a1a;
    padding: 20px;
}

.container-footer{
    justify-content: space-between;
}

.fa-brands{
    margin-top: 10px;
}